- content_for :toolbar do
  = link_to edit_hq_customer_path(@customer ), class: 'btn btn-default' do
    %i.icon-pencil
    = t('action_button.edit')
.panel.panel-default
  .panel-heading
    %i.icon-edit.icon-large
    = t('tt.show', resource_name: Customer.model_name.human)
  .panel-body
    = show_for @customer do |s|
      = s.attribute :name
      = s.attribute :surname
      = s.attribute :phone
      = s.attribute :officer
      = s.attribute :total
      = s.attribute :email do
        = mail_to @customer.email, @customer.email
      = s.attribute :is_active
      = s.attribute :current_sign_in_at
      = s.attribute :last_sign_in_at
      = s.attribute :created_at
      = s.attribute :updated_at
